config:
  backup: true
  create: true
  dotpath: dotfiles
  minversion: 1.11.0
dotfiles:
  d_fish:
    src: config/fish
    dst: ~/.config/fish
    link: absolute
    chmod: '700'
  d_nvim:
    src: config/nvim
    dst: ~/.config/nvim
    link: absolute
  d_kitty:
    src: config/kitty
    dst: ~/.config/kitty
    link: absolute
  f_pikaur.conf:
    src: config/pikaur.conf
    dst: ~/.config/pikaur.conf
    link: absolute
  f_asdfrc:
    src: asdfrc
    dst: ~/.asdfrc
    link: absolute
  f_default-gems:
    src: default-gems
    dst: ~/.default-gems
    link: absolute
  f_default-npm-packages:
    src: default-npm-packages
    dst: ~/.default-npm-packages
    link: absolute
  f_default-python-packages:
    src: default-python-packages
    dst: ~/.default-python-packages
    link: absolute
  f_tmux.conf:
    src: tmux.conf
    dst: ~/.tmux.conf
    link: absolute
  f_gitconfig:
    src: gitconfig
    dst: ~/.gitconfig
    link: absolute
  f_dynamic_wallpapers.xml:
    src: Documents/dynamic_wallpapers.xml
    dst: ~/Documents/dynamic_wallpapers.xml
  d_btop:
    src: config/btop
    dst: ~/.config/btop
  d_git_template:
    src: git_template
    dst: ~/.git_template
profiles:
  manjaro:
    dotfiles:
    - d_fish
    - d_nvim
    - d_kitty
    - d_btop
    - f_pikaur.conf
    - f_asdfrc
    - f_default-gems
    - f_default-npm-packages
    - f_default-python-packages
    - f_tmux.conf
    - f_gitconfig
  osx:
    dotfiles:
    - d_fish
    - d_nvim
    - d_kitty
    - d_btop
    - f_pikaur.conf
    - f_asdfrc
    - f_default-gems
    - f_default-npm-packages
    - f_default-python-packages
    - f_tmux.conf
    - f_gitconfig
    - d_git_template
